
.ipynb_checkpoints/pygplates-fileio-checkpoint.ipynb

.ipynb_checkpoints/pygplates-Flowlines-checkpoint.ipynb

.ipynb_checkpoints

.ipynb_checkpoints/pygplates-getting-started-checkpoint.ipynb

.ipynb_checkpoints/PyGPlates-Working-with-Rotation-Poles-checkpoint.ipynb

.ipynb_checkpoints/pygplates-getting-started-checkpoint.ipynb

.ipynb_checkpoints/PyGPlates-Working-with-Rotation-Poles-checkpoint.ipynb

.ipynb_checkpoints/PyGPlates-PandasExample-checkpoint.ipynb

tmp/tmp.shx

tmp/tmp.dbf

tmp/tmp.shp
